<!-- <div class="menu">
    <ul>
        <li><a href=""><span class="fa fa-home"></span>Home</a></li>
        <li><a href=""><span class="fa fa-users"></span>Users</a>
            <ul>
                <li><a href=""><span class="fa fa-plus"></span>Add</a></li>
                <li><a href=""><span class="fa fa-edit"></span>Edit</a></li>
                <li><a href=""><span class="fa fa-remove"></span>Delete</a></li>
            </ul>    
        </li>
        <li><a href=""><span class="fa fa-desktop"></span>Web Design</a></li>
        <li><a href=""><span class="fa fa-database"></span>Database</a></li>
        <li><a href=""><span class="fa fa-home"></span>Contact us</a></li>
        
    </ul>

</div> -->
<div class="header">
    <div class="logo">
        <span> <strong>Admin</strong>LTE</span>
    </div>
    <div class="basic-navigation">
       <ul>
           <li class="">
               <a href="">
                   <span class="fa fa-envelope-o"></span>
                   <span class="badge">4</span>
               </a>
               <!-- <ul class="messenger">
                   <li><span>You have 4 messages</span>
                        <ul>
                            <li>
                                <a href=""><div>
                                    <img src="https://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="">
                                </div><div>
                                    <h4>Suport Team<small><i class="fa fa-clock-o"></i> 5 mins</small></h4>
                                    <p>Por que no compras asombrorsa comida?</p>
                                </div></a>
                            </li>
                            <li>
                                <a href=""><div>
                                    <img src="https://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="">
                                </div><div>
                                    <h4>Suport Team<small><i class="fa fa-clock-o"></i> 5 mins</small></h4>
                                    <p>Por que no compras comida?</p>
                                </div></a>
                            </li>
                            <li>
                                <a href=""><div>
                                    <img src="https://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="">
                                </div><div>
                                    <h4>Suport Team<small><i class="fa fa-clock-o"></i> 5 mins</small></h4>
                                    <p>Por que no compras comida?</p>
                                </div></a>
                            </li>
                            <li>
                                <a href=""><div>
                                    <img src="https://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="">
                                </div><div>
                                    <h4>Suport Team<small><i class="fa fa-clock-o"></i> 5 mins</small></h4>
                                    <p>Por que no compras comida?</p>
                                </div></a>
                            </li>
                            <li>
                                <a href=""><div>
                                    <img src="https://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="">
                                </div><div>
                                    <h4>Suport Team<small><i class="fa fa-clock-o"></i> 5 mins</small></h4>
                                    <p>Por que no compras comida?</p>
                                </div></a>
                            </li>
                        </ul>    
                    </li>
                   <li><a href="">see all messagges</a></li>
               </ul> -->
           </li>
           <li class="active">
                <a href="">
                    <span class="fa fa-bell-o"></span>
                    <span class="badge">4</span>
                </a>
                <ul class="activitis">
                        <li><span>You have 4 messages</span>
                             <ul>
                                 <li>
                                     <a href="">
                                         <i class="fa fa-users" style="color:skyblue"></i>
                                         <p>tienens 5 nuevos miembros</p>
                                     </a>
                                 </li>
                                 <li>
                                    <a href="">
                                        <i class="fa fa-warning" style="color:orange"></i>
                                        <p>cambio radical en el widget</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-shopping-cart" style="color:lightgreen"></i>
                                        <p>nuevos clientes</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-users"  style="color:skyblue"></i>
                                        <p>tienens 5 nuevos miembros</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-warning" style="color:orange"></i>
                                        <p>cambio radical en el widget</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fa fa-shopping-cart" style="color:lightgreen"></i>
                                        <p>nuevos clientes</p>
                                    </a>
                                </li>                                
                             </ul>    
                         </li>
                        <li><a href="">see all messagges</a></li>
                    </ul>
            </li>
            <li>
                <a href="">
                    <img src="https://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="">
                    <span> Alezander alexis</span>  
                </a>
            </li>
            <li>
                <a href="#" class="nav-triger"><span class="fa fa-bars"></span></a>
                
            </li>
       </ul>
    </div>
</div>
<div class="side-nav">
    <div class="logo">
        <span> <strong>Admin</strong>LTE</span>
        <span><strong>A</strong>LT</span>
    </div>
    <nav>
        <div class="user-panel">
            <div class="image">
                <img src="https://adminlte.io/themes/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="">
            </div>
            <div class="info">
                <p>Alexander Pierce</p>
                <a href=""><i class="fa fa-circle" aria-hidden="true"></i> Online</a>
            </div>
        </div>
        <div class="main-navigation">
            <span>MAIN NAVIGATION</span>
        </div>
        <ul>
            <li>
                <a href="#">
                    <span><i class="fa fa-user"></i></span>
                    <span>Users</span>
                    <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </a>
                <ul>
                    <li><a href="">
                        <span><i class="fa fa-user"></i></span>
                        <span>Users</span>
                    </a></li>
                    <li><a href="">
                            <span><i class="fa fa-user"></i></span>
                            <span>Users</span>
                        </a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-envelope"></i></span>
                    <span>Messages</span>
                    <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </a>
                <ul>
                        <li><a href="">
                            <span><i class="fa fa-user"></i></span>
                            <span>Users</span>
                        </a></li>
                        <li><a href="">
                                <span><i class="fa fa-user"></i></span>
                                <span>Users</span>
                            </a></li>
                    </ul>
            </li>
            <li class="active">
                <a href="#">
                    <span><i class="fa fa-bar-chart"></i></span>
                    <span>Analytics</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span><i class="fa fa-credit-card-alt"></i></span>
                    <span>Payments</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="main-content">
    <div class="title">
        Analytics
    </div>
    <div class="main">
        <div class="widget">
            <div class="title">Number of views</div>
            <div class="chart"></div>
        </div>
        <div class="widget">
            <div class="title">Number of likes</div>
            <div class="chart"></div>
        </div>
        <div class="widget">
            <div class="title">Number of comments</div>
            <div class="chart"></div>
        </div>
    </div>
    <div class="main">
            <div class="widget">
                <div class="title">Number of views</div>
                <div class="chart"></div>
            </div>
            <div class="widget">
                <div class="title">Number of likes</div>
                <div class="chart"></div>
            </div>
            <div class="widget">
                <div class="title">Number of comments</div>
                <div class="chart"></div>
            </div>
        </div>
</div> 