* {
    box-sizing: border-box;
    font-size: 14px;
}
body {
	margin: 0;
	padding: 0;
	background-color: #d5dae5;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
}

.logo {
	min-height: 50px;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
}
.logo span {
    font-size: 20px;
    margin: auto;
}
.logo strong{
    font-size: 20px; 
}
/*header logo*/
.header {
    position: fixed;
	width: 100%;
	z-index: 3;
	min-height: 50px;
	background-color: #f39c12;
}
.header .logo {
	color: #233245;
	float: left;	
	height: 44px;
	z-index: 1;
	padding: 10px;
}
.header .logo span{
    color: #fff;
}
/*header basic-navigation*/
.header .basic-navigation{
	display: flex;
	flex-direction: row-reverse;
	padding: 0;
}
.header .basic-navigation > ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}
.header .basic-navigation > ul > li:hover{
	background-color: #e08e0b;
}
.header .basic-navigation ul li.active{
	background-color: #e08e0b;
}
.header .basic-navigation > ul > li:last-child{
	display: inline-block;
}
.header .basic-navigation > ul > li > a{
	line-height: 50px;
	padding: 0 15px;
}
.header .basic-navigation > ul > li > ul{
	position: absolute;
	top: 50px;
	margin-left: -183px;
	width: 230px;
	background-color: #fff;
	border: 1px solid lightgray;
	list-style: none;
	padding: 0;

}
.header .basic-navigation > ul > li > a > span {
	font-size: 17px;
	color: #fff;	
}
.header .basic-navigation > ul > li > a > span.badge {
    position: absolute;
    top: 9px;
	background-color: green;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}
.header .basic-navigation > ul > li:nth-child(3) a{
	display: inline-block;
}
.header .basic-navigation > ul > li:nth-child(3)  img{
	border-radius: 50%;
	float: left;
	width: 30px;
	height: 30px;
    margin-top: 10px;
}
.header .basic-navigation > ul > li:nth-child(3) span{
	font-size: 14px;
	display: none;
}
/*messenger*/
.header .basic-navigation .messenger > li:first-child > span{
	font-size: 12px;	
	text-decoration: none;
	padding: 10px 10px;
	border-bottom: 1px solid #f4f4f4;
	color: #444444;
	display: flex;
}
.header .basic-navigation .messenger > li:last-child > a{
	text-decoration: none;
	color: #444 !important;
    font-size: 12px;
	
}
.header .basic-navigation .messenger > li:last-child{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    padding: 7px 10px;
	border-bottom: 1px solid #eeeeee;
	text-align: center;	
}
.header .basic-navigation .messenger ul{
	list-style: none;
	max-height: 200px;
	overflow-x: auto;
	padding: 0;
}
.header .basic-navigation .messenger ul li a{
	display: flex;
	text-decoration: none;
}
.header .basic-navigation .messenger ul li{
	border-bottom: 1px solid #f4f4f4;
}
.header .basic-navigation .messenger ul li:hover{
	background-color: #f1f1f1
}
.header .basic-navigation .messenger ul li a div:first-child{
	display: flex;
	align-items: center;
	padding: 7px;	
}
.header .basic-navigation .messenger ul li a div img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.header .basic-navigation .messenger ul li a div:last-child{
	padding: 7px;
	width: 100%;
}
.header .basic-navigation .messenger ul li a div:last-child h4{
	color: #444444;
	font-weight: normal;
	font-size: 15px;
	margin: 0;
}
.header .basic-navigation .messenger ul li a div:last-child h4 small{
	color: #999999;
	font-size: 10px;
	position: relative;
	float: right;
}
.header .basic-navigation .messenger ul li a div:last-child p{
	color: #888888;
	font-size: 11px;
	margin: 0;
}
/*activitis*/
.header .basic-navigation .activitis > li:first-child > span{
	font-size: 12px;	
	text-decoration: none;
	padding: 10px 10px;
	border-bottom: 1px solid #f4f4f4;
	color: #444444;
	display: flex;
}
.header .basic-navigation .activitis > li:last-child > a{
	text-decoration: none;
	color: #444 !important;
    font-size: 12px;
	
}
.header .basic-navigation .activitis > li:last-child{
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    padding: 7px 10px;
	border-bottom: 1px solid #eeeeee;
	text-align: center;	
}
.header .basic-navigation .activitis ul{
	list-style: none;
	max-height: 200px;
	overflow-x: auto;
	padding: 0;
}
.header .basic-navigation .activitis ul li a{
	display: flex;
	text-decoration: none;
}
.header .basic-navigation .activitis ul li{
	border-bottom: 1px solid #f4f4f4;
}
.header .basic-navigation .activitis ul li:hover{
	background-color: #f1f1f1
}
.header .basic-navigation .activitis ul li a{
	text-decoration: none;
	color: #444 !important;
	display: flex;
	padding: 10px;
}
.header .basic-navigation .activitis ul li a i{
	font-size: 15px;
	padding-right: 5px;
}
.header .basic-navigation .activitis ul li a p{
	margin: 0;	font-size: 12px;
}
/*side-nav*/
.side-nav {
    position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #222d32;
	z-index: 1;
	display: none;
}
/*side-nav logo*/
.side-nav .logo {
	background-color: #e08e0b;
	color: #fff;
}
.side-nav.visible {
	display: block;
}
/*side-nav user panel*/
.side-nav .user-panel{
    background-color: #222d32;
    display: flex;
}
.side-nav .user-panel .image{
    max-width: 50px;
    margin: 10px;
}
.side-nav .user-panel .image img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}
.side-nav .user-panel .image  .img-circle {
    border-radius: 50%;
}
.side-nav .user-panel .info p{
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px;
}
.side-nav .user-panel .info a{
    color: #fff;    
    text-decoration: none;
    font-size: 12px;
}
.side-nav .user-panel .info a i{
    color: #3c763d;    
}
/*side-nav main-navigation*/
.side-nav .main-navigation{
    padding: 10px 25px 10px 15px;
    background: #1a2226;
}
.side-nav .main-navigation span{
    color: #b8c7ce;
    font-size: 10px;
}
/*side-nav lista*/
.side-nav ul {
	margin: 0;
	padding: 0;
}
.side-nav ul li {
    font-weight: normal; 
	position: relative;
}
.side-nav ul li.active:before {
	content: '';
	position: absolute;
	width: 4px;
	height: 100%;
	top: 0;
    left: 0;
	background-color: #f39c12;
}
.side-nav ul li.active a{
    color: #fff;
}
.side-nav ul li.active{
    background-color: #1a2226;
}
.side-nav ul li:hover{
    background-color: #1a2226;
}
.side-nav ul li ul li:hover{
    background-color: #2c3b41;
}
.side-nav ul li ul li a:hover{
    color: #fff;
}
.side-nav ul li a {
    width: 100%;
	color: #8aa4af;
	display: block;
    text-decoration: none;
    padding: 15px 14px;    
}
.side-nav ul ul{
    background-color: #2c3b41;
}
.side-nav ul li ul li a{
    padding: 7px 7px 7px 15px;
    display: block;
}
.side-nav ul li ul li a span{
    font-size: 12px;
}
.side-nav ul li i {
	min-width: 17px;
	text-align: center;
}
.side-nav ul li span:nth-child(2) {
	margin-left: 5px;
	font-size: 14px;
}
.side-nav ul li span:nth-child(3) {
    float: right;
}

.main-content {
	padding: 40px;
	margin-top: 0;
	padding: 0;
	padding-top: 50px;
	height: 100%;
}
.main-content .title {
	background-color: #eef1f7;
	border-bottom: 1px solid #b8bec9;
	padding: 10px 20px;
	font-weight: 700;
	color: #333;
	font-size: 18px;
}

@media screen and (min-width: 600px) {
	.header {
		background-color: #f39c12;
		z-index: 1;
	}
	.header .logo {
		display: none;
	}
	.header .basic-navigation > ul > li:nth-child(3) span{
		display: inline-block;
	}
	.header .basic-navigation > ul > li:last-child{
		display: none;
	}
	.header .basic-navigation > ul > li > ul{
		margin-left: -233px;
		width: 280px;
	}
	.side-nav {
		display: block;
		width: 50px;
		z-index: 2;
	}
	.side-nav .logo i {
		padding-left: 12px;
	}	
	.side-nav .logo span:nth-child(1) {
		display: none;
	}
	.side-nav .logo span:nth-child(2) {
        display: block;
	}
    .side-nav .user-panel .info{
        display: none;
    }
    .side-nav .main-navigation{
        display: none;
    }
	.side-nav ul li span:nth-child(2), .side-nav ul li span:nth-child(3) {
		display: none;
	}
	.side-nav ul li i {
		font-size: 16px;
	}
	.side-nav ul li a {
		text-align: center;
	}
	.main-content {
		margin-left: 50px;
	}
}
/* set element styles for desktop */
@media screen and (min-width: 800px) {
	.side-nav {
		width: 230px;
    }
    .side-nav .user-panel .info{
        display: block;
    }
    .side-nav .main-navigation{
        display: block;
    }
	.side-nav ul li span:nth-child(2) {
		display: inline-block;
	}
	.side-nav ul li i {
		font-size: 16px;
	}
	.side-nav ul li a {
		text-align: left;
	}
	.header .basic-navigation > ul > li:nth-child(3) span{
		display: inline-block;
	}

	.side-nav .logo span:nth-child(1) {
        display: inline-block;
    }
    .side-nav .logo span:nth-child(2){
        display: none;
    }
	.main-content {
		margin-left: 230px;
	}
	.header .basic-navigation > ul > li:last-child{
		display: none;
	}
}




/* main box container */
.main {
	display: flex;
	flex-flow: row wrap;
}
.widget {
	flex-basis: 300px;
	flex-grow: 10;
	height: 300px;
	margin: 15px;
	border-radius: 6px;
	background-color: #ffffff;
	position: relative;
}
.widget .title {
	background-color: #eef1f7;
	border-bottom: 1px solid #dfe4ec;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #617085;
	font-weight: 600;
}